Hi, this Dynamic Data Visualization will be rather unique as it is meant to be creative. I would be using equations to mimic the motion of waves.

The data would be of the time and height of high and low tide for the month of Jun and Jul 2022.

The webpage: https://www.nea.gov.sg/weather/tide-timings

In short:

1) Saw website, had inspiration (Date of visit: Early June 2022)

2) Went to find picture I could use, found http://www.supercoloring.com/coloring-pages/summer-beach-scene (It is written at the bottom of the page that it is free.)

3) After researching for ways to mimic the waves, found this website https://help.desmos.com/hc/en-us/articles/202529069-Sliders-and-Movable-Points which led to https://www.desmos.com/calculator/opox7hzmhh

In [1]:
# import libraries
import requests
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from bs4 import BeautifulSoup
import os

In [2]:
url = 'https://www.nea.gov.sg/weather/tide-timings'
req = requests.get(url).text
soup = BeautifulSoup(req)
jun = soup.find('div',{'id':'Jun'}) # can use class: 'forecast-widget__content tab__item is-active'
jul = soup.find('div',{'id':'Jul'}) # can use class: 'forecast-widget__content tab__item'

In [3]:
junData = jun.find_all('tr')
julData = jul.find_all('tr')

In [4]:
dataList = []
for i in junData:
    dataList.append(i.text.split())
dataList[0:5]

[['Jun', 'Tide'],
 ['Time', 'Height', 'H/L'],
 ['1', '0611', '0.2', 'L'],
 ['1309', '2.5', 'H'],
 ['1828', '1.3', 'L']]

In [5]:
tempDate = 0
dateList = []
timeList = []
heightList = []
highLowList = []

for i in junData[2:]:
    tempList = i.text.split()
    if len(tempList) == 4:
        tempDate = tempList[0]
    dateList.append(tempDate)
    timeList.append(tempList[-3])
    heightList.append(tempList[-2])
    highLowList.append(tempList[-1])

In [6]:
dfJun = pd.DataFrame(list(zip(dateList,timeList,heightList,highLowList)),
                    columns = ['date','time','height','high low'])
dfJun

    date  time height high low
0      1  0611    0.2        L
1      1  1309    2.5        H
2      1  1828    1.3        L
3      1  2358    2.8        H
4      2  0646    0.2        L
..   ...   ...    ...      ...
111   29  2313    2.8        H
112   30  0556    0.2        L
113   30  1300    2.5        H
114   30  1805    1.3        L
115   30  2346    2.8        H

[116 rows x 4 columns]

In [7]:
tempDate = 0
dateList = []
timeList = []
heightList = []
highLowList = []

for i in julData[2:]:
    tempList = i.text.split()
    if len(tempList) == 4:
        tempDate = tempList[0]
    dateList.append(tempDate)
    timeList.append(tempList[-3])
    heightList.append(tempList[-2])
    highLowList.append(tempList[-1])

In [8]:
dfJul = pd.DataFrame(list(zip(dateList,timeList,heightList,highLowList)),
                    columns = ['date','time','height','high low'])
dfJul

    date  time height high low
0      1  0631    0.2        L
1      1  1333    2.5        H
2      1  1841    1.3        L
3      1  0020    2.8        H
4      2  0707    0.3        L
..   ...   ...    ...      ...
115   30  0009    2.8        H
116   31  0652    0.3        L
117   31  1335    2.5        H
118   31  1858    1.2        L
119   31  0041    2.9        H

[120 rows x 4 columns]

In [9]:
# save dataframe to csv file.
os.chdir(r'/kaggle/working')

dfJun.to_csv(r'jun.csv', index = False)
dfJul.to_csv(r'jul.csv', index = False)